.nav{
  width: 100vw;
  min-height: 64px;
  background-color: #d8c3ec;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.name {
  font-family: 'Dynalight', cursive;
  font-weight: 500;
  font-size: 45px;
  color: #4D2574;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}