:root {
  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

}

h1, h2 {
  //font-size: 3.2em;
  //line-height: 1.1;
  font-family: 'Rufina', serif;
}

img {
  max-width: 280px;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    //color: black;

  }
}

button {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;
  color: black;

  &:disabled {
    color: rgb(108, 108, 108);
  }
}
button:hover {
  &:disabled {
    cursor: default;
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}